SNOWFLAKE_ACCOUNT=VIFDGUW-BVB26657
SNOWFLAKE_USER=MATTHEWCARAWAY
SNOWFLAKE_PAT=[REDACTED_SECRET]
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_ROLE=SYSADMIN
SNOWFLAKE_DATABASE=ONE_HEALTH_LYME_GAP_ATLAS
SNOWFLAKE_LANDING_SCHEMA=LANDING
